/* Demo Deck Custom Styles */

.box-blue { background: #026AD4; }
.box-gold { background: #E58537; }
.box-shadow {
  box-shadow:0 10px 16px 10px rgba(0,0,0,0.2), 0 6px 20px 10px rgba(0,0,0,0.19) !important;
}

.snap-padtop { padding-top: 2em !important; }

.southpole { bottom: 0px; }

.southpole blockquote {
    background: black !important;
    padding: 0px !important;
}

.weblink a { color: white; font-weight: bold; }

/** Code-Presenting Custom Styles ***/


.reveal pre {
  width: 98%;
  margin: 0px;
  box-shadow: none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  border-radius: 10px;
  max-height: 60vh !important;
  overflow: hidden !important;
}

@media (device-width: 100vw) and (device-height: 100vh) {
  .reveal pre code {
    max-height: 50vh !important;
  }
}

.reveal .slides section .code-presenting-annotation {
  color: black;
  background: #FCC28C;
  padding: 0px 15px;
  border-radius: 15px;
  opacity: 0.95 !important;
  font-size: 50% !important;
}

.rawcode {
    background: none;
    box-shadow: none;
}

/* Slideshow Auxiliary Styles */

#gp-logo img {
  max-height: 3.5em;
  max-width: none;
}

#title-footer a {
  color: black;
}

#title-footer p.footer-hard {
   color: black;
}

/** Reveal.js Core Override Styles **/

.reveal section img {
  border: none;
  box-shadow: none;
  background: none;
}

.reveal .slide-number {
  color: black !important;
}

.reveal blockquote {
    width: 100%;
    padding: 17px;
    border-radius: 17px;
    background: rgba(255,255,255,0.2);
}

.reveal p span.slide-title {
  display: none;
}

/** Custom Font Styles **/

@font-face {
  font-family: 'Montserrat Heavy';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/montserrat-heavy.woff2') format('woff2'),
       url('/assets/fonts/montserrat-heavy.woff') format('woff');
}
.montserrat-heavy,
.montserrat-heavy * {
  text-shadow: none !important;
  text-transform: none !important;
  font-family: "Montserrat Heavy", sans-serif !important;
}
@font-face {
  font-family: 'Raleway Medium';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/raleway-medium.woff2') format('woff2'),
       url('/assets/fonts/raleway-medium.woff') format('woff');
}
.raleway-medium,
.raleway-medium * {
  text-shadow: none !important;
  text-transform: none !important;
  font-family: "Raleway Medium", sans-serif !important;
}

.reveal h1, .reveal h2 {
  text-shadow: none !important;
  text-transform: none !important;
  font-family: "Montserrat Heavy", sans-serif !important;
}

.reveal h3, .reveal h4 {
  text-shadow: none !important;
  text-transform: none !important;
  font-family: "Raleway Medium", sans-serif !important;
}
